<div class="col-12 collapse" aria-labelledby="headingOne" data-parent="#accordionExample" id="collapseRegistros">
    <app-sub-navs [tema]="'Registros'"></app-sub-navs>
    <div>
        hola mundo
    </div>
</div>

<div class="col-12 collapse show" aria-labelledby="headingTwo" data-parent="#accordionExample" id="collapseConsola">
    <app-sub-navs [tema]="'Consola'"></app-sub-navs>
    <div>
        hola mundo
    </div>
</div>

<div class="col-12 collapse " aria-labelledby="headingThree" data-parent="#accordionExample" id="collapseDesest">
    <app-sub-navs [tema]="'Desestructuracion'"></app-sub-navs>
    <div>
        hola mundo
    </div>
</div>

<div class="col-12 collapse" aria-labelledby="headingFour" data-parent="#accordionExample" id="collapsePaso">
    <app-sub-navs [tema]="'Paso a paso'"></app-sub-navs>
    <div>
        hola mundo
    </div>
</div>