.editor {
    border: none;
    height: auto;
}

#instrucciones {
    padding-left: 0px !important;
    margin-left: -15px;
}

#lineas {
    height: 100%;
    background-color: rgb(201, 187, 150);
    width: 50%;
}

#instrucciones:focus {
    outline: none;
}