.editor {
    border: none;
    height: auto;
}

#instrucciones {
    padding-left: 5px !important;
}

#lineas {
    height: 100%;
    background-color: rgb(240, 240, 240);
}

#instrucciones:focus {
    outline: none;
}