<app-nav></app-nav>
<div class="mt-3 container">
    <div class="row">
        <div class="col-2" style="background-color: white; border: 1px solid;  padding: 0px !important ">
            <app-registros></app-registros>
        </div>
        <div class="col-7" style="background-color: white; border: 1px solid;  padding: 0px !important ">
            <app-instrucciones></app-instrucciones>
        </div>
        <div class="col-3" style="background-color: white; border: 1px solid; padding: 0px !important ">
            <app-mensajes></app-mensajes>
        </div>
        <div class="col-12 accordion" id="accordionExample" style="background-color: white;padding: 0px !important ">
            <div style="border: 1px solid;  ">
                <app-inferior></app-inferior>
            </div>
            <div class="text-center accordion mt-2">
                <div class="">
                    <button class="btn btn-secondary mr-1" type="button" data-toggle="collapse" data-target="#collapseRegistro" aria-expanded="false" aria-controls="collapseRegistro" id="headingOne">Registros</button>
                </div>

                <button class="btn btn-secondary mr-1 collapsed" type="button" data-toggle="collapse" data-target="#collapseConsola" aria-expanded="true" aria-controls="collapseConsola" id="headingTwo">Consola</button>

                <button class="btn btn-secondary mr-1 collapsed" type="button" data-toggle="collapse" data-target="#collapseDesest" aria-expanded="false" aria-controls="collapseDesest" id="headingThree">desestructuracion</button>

                <button class="btn btn-secondary mr-1 collapsed" type="button" data-toggle="collapse" data-target="#collapsePaso" aria-expanded="false" aria-controls="collapsePaso" id="headingFour">Paso a Paso</button>
            </div>
        </div>
    </div>

</div>