.alutra {
    height: 50%;
}

.parte-baja {
    min-height: 100px;
    height: auto;
}

.extra-info {
    border: 2px solid;
    margin-top: 20%;
    width: 90%;
    margin-left: 5%;
    height: 30%;
    font-size: 1.8em;
    padding-top: 0px;
}