.editor {
    border: none;
    height: auto;
    resize: none;
}

#instrucciones {
    padding-left: 10px !important;
    width: 83%;
    resize: none !important;
}

#lineas {
    height: 100%;
    background-color: rgb(201, 187, 150);
    width: 100%;
}

#instrucciones:focus {
    outline: none;
}

.editor:focus {
    outline: none;
}

.controles {
    font-size: 25px;
    margin-left: 10px;
    color: rgb(95, 95, 156);
    cursor: pointer;
}

.controles:hover {
    font-size: 35px;
    margin-left: 10px;
    color: rgb(53, 53, 172);
}

#divPaso {
    resize: none;
    min-height: 190px;
}

#notificaciones {
    max-height: 350px;
    overflow-y: scroll;
}